<body ng-app="myApp" ng-controller="productController">
  <div>
    <!-- product cards -->
    <div class="d-flex">
      <!-- Add product form -->
      <div class="formsection col-6 p-2 m-1 shadow rounded-4">
        <h4><i class="fa-solid fa-plus-circle me-2"></i> Add New Product</h4>
        <form ng-submit="addProduct()">
          <div class="form-row">
            <div class="form-group-compact">
              <label>Product Name</label>
              <input
                type="text"
                class="form-control form-control-compact"
                ng-model="newProduct.productName"
                placeholder="e.g., Aspirin"
                required
              />
            </div>
            <div class="form-group-compact">
              <label>Quantity</label>
              <input
                type="number"
                class="form-control form-control-compact"
                ng-model="newProduct.productQuantity"
                placeholder="0"
                required
              />
            </div>
            <div class="form-group-compact">
              <label>Product Price</label>
              <input
                type="number"
                class="form-control form-control-compact"
                ng-model="newProduct.productPrice"
                placeholder="0.00"
                required
              />
            </div>

            <div class="form-group-compact">
              <label>Category</label>
              <input
                type="text"
                class="form-control form-control-compact"
                ng-model="newProduct.productCategory"
                placeholder="e.g., Pain Relief"
                required
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group-compact">
              <label>Product Type</label>
              <select
                class="form-control form-control-compact"
                ng-model="newProduct.productType"
                required
              >
                <option value="">-- Select --</option>
                <option value="Tablet">Tablet</option>
                <option value="Capsule">Capsule</option>
                <option value="Syrup">Syrup</option>
                <option value="Injection">Injection</option>
                <option value="Cream">Cream</option>
              </select>
            </div>
            <div class="form-group-compact">
              <label>Effective Material</label>
              <input
                type="text"
                class="form-control form-control-compact"
                ng-model="newProduct.effectiveMaterial"
                placeholder="e.g., Ibuprofen"
                required
              />
            </div>
            <div class="form-group-compact">
              <label>Expiry Date</label>
              <input
                type="date"
                class="form-control form-control-compact"
                ng-model="newProduct.expiryDate"
                required
              />
            </div>
            <button type="submit" class="btn btn-add" ng-disabled="isPosting">
              <i class="fa-solid fa-plus me-1"></i>
              {{ isPosting ? 'Saving...' : 'Add' }}
            </button>
          </div>
        </form>
      </div>
      <!-- create invoivce form -->
      <div class="col-6 p-2 m-1 shadow rounded-4">
        <h4><i class="fa-solid fa-plus-circle me-2"></i> Invoice</h4>
        <!-- Button trigger modal -->
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Launch demo modal
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Modal title
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">...</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-dialog modal-fullscreen-sm-down" id="test">...</div>
      </div>
    </div>

    <!-- TABLE SECTION -->
    <div class="table-section mt-5">
      <!-- search section -->
      <div class="search-section">
        <h4><i class="fa-solid fa-search me-2"></i>Search Products</h4>
        <div class="input-group mb-3">
          <input
            ng-model="search"
            type="text"
            class="form-control"
            placeholder="Search Medicines..."
          />
          <button
            ng-click="filterStudents()"
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
          >
            Search
          </button>
        </div>

        <div class="form-group">
          <h4><i class="fa-solid fa-filter me-2"></i>Filter Products</h4>
          <select
            id="sortSelect"
            name="sortSelect"
            ng-model="sortKey"
            class="form-control"
          >
            <option value="name">Name</option>
            <option value="-mark">Mark (High to low)</option>
            <option value="mark">Mark (Low to high)</option>
          </select>
        </div>
      </div>

      <div class="loader-container" ng-if="isLoading">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="mt-2 text-muted">Loading products...</p>
      </div>

      <h4 class="mb-3 mt-3">
        <i class="fa-solid fa-table me-2"></i>All Products
      </h4>
      <div ng-if="!isLoading" class="table-responsive">
        <table class="table table-bordered table-sm table-striped text-center">
          <thead>
            <tr>
              <th>Name</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Category</th>
              <th>Type</th>
              <th>Effective Material</th>
              <th>Expiry</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in products">
              <!-- Product Name -->
              <td>
                <span ng-if="!product.isEditing"
                  >{{ product.productName }}</span
                >
                <input
                  type="text"
                  class="form-control form-control-sm"
                  ng-if="product.isEditing"
                  ng-model="product.productName"
                />
              </td>

              <!-- Quantity -->
              <td>
                <span ng-if="!product.isEditing"
                  >{{ product.productQuantity }}</span
                >
                <input
                  type="number"
                  class="form-control form-control-sm"
                  ng-if="product.isEditing"
                  ng-model="product.producQuantity"
                />
              </td>

              <!-- Product Price -->
              <td>
                <span ng-if="!product.isEditing"
                  >{{ product.productPrice | currency:'EGP':2 }}</span
                >
                <input
                  type="number"
                  class="form-control form-control-sm"
                  ng-if="product.isEditing"
                  ng-model="product.productPrice"
                />
              </td>

              <!-- Category -->
              <td>
                <span ng-if="!product.isEditing"
                  >{{ product.productCategory }}</span
                >
                <input
                  type="text"
                  class="form-control form-control-sm"
                  ng-if="product.isEditing"
                  ng-model="product.productCategory"
                />
              </td>

              <!-- Type -->
              <td>
                <span ng-if="!product.isEditing"
                  >{{ product.productType }}</span
                >
                <select
                  ng-if="product.isEditing"
                  ng-model="product.productType"
                  class="form-select form-select-sm"
                >
                  <option value="Tablet">Tablet</option>
                  <option value="Capsule">Capsule</option>
                  <option value="Syrup">Syrup</option>
                  <option value="Injection">Injection</option>
                  <option value="Cream">Cream</option>
                </select>
              </td>

              <!-- Material -->
              <td>
                <span ng-if="!product.isEditing"
                  >{{ product.effectiveMaterial }}</span
                >
                <input
                  type="text"
                  class="form-control form-control-sm"
                  ng-if="product.isEditing"
                  ng-model="product.effectiveMaterial"
                />
              </td>

              <!-- Expiry Date -->
              <td>
                <span ng-if="!product.isEditing"
                  >{{ product.expiryDate | date:'MM/dd/yyyy' }}</span
                >
                <!-- <input
                  type="date"
                  class="form-control form-control-sm"
                  ng-if="product.isEditing"
                  ng-model="product.expiryDate"
                /> -->
              </td>

              <!-- Actions -->
              <td>
                <div class="action-buttons">
                  <div ng-if="currUser.role =='admin'">
                    <div ng-if="!product.isEditing">
                      <button
                        class="btn btn-table btn-edit"
                        ng-click="editProduct(product)"
                      >
                        <i class="fa-solid fa-pen-to-square"></i>Edit
                      </button>
                      <button
                        class="btn btn-table btn-delete"
                        ng-click="removeProduct(product.productID, $index)"
                      >
                        <i class="fa-solid fa-trash"></i>Delete
                      </button>
                    </div>
                    <div ng-if="product.isEditing">
                      <button
                        class="btn btn-table btn-save"
                        ng-click="saveUpdate(product)"
                      >
                        <i class="fa-solid fa-check"></i>Save
                      </button>
                      <button
                        class="btn btn-table btn-cancel"
                        ng-click="cancelEdit(product)"
                      >
                        <i class="fa-solid fa-x"></i>Cancel
                      </button>
                    </div>
                  </div>
                  <div ng-if="currUser.role==='user'">
                    <div class="d-flex align-content-sm-between p-2">
                      <input
                        type="number"
                        class="form-control form-control-sm"
                        ng-model="product.selectedQuantity"
                        min="1"
                        placeholder="Qty"
                        style="max-width: 60px"
                      />
                      <button
                        class="btn btn-sm"
                        ng-click="addToInvoice(product, product.selectedQuantity)"
                      >
                        <i class="fa-solid fa-plus"></i>
                        <span class="d-none d-md-inline">Add to Invoice</span>
                      </button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
